/* Media query for screens smaller than 768px (typical mobile devices) */
@media only screen and (max-width: 767px) {
    .navbar {
        display: flex;
        justify-content: center;
        padding: 5px;
        border-radius: 20px;
    }

    .navbar a {
        font-size: 14px;
        margin: 0 3px;
        opacity: 1;
        animation: none;
    }

    .home {
        padding: 50px 5%;
        background: #021227;
    }

    .home-content {
        max-width: 100%;
    }

    .home-content h1 {
        font-size: 40px;
    }

    .home-content h3 {
        font-size: 24px;

    }

    .home-content p {
        font-size: 16px;
    }

    .home-sci a {
        width: 30px;
        height: 30px;
        font-size: 16px;
        margin: 20px 10px 20px 0;
    }

    .btn-box {
        padding: 10px 24px;
        font-size: 14px;
    }

    .about {
        display: block;
    }

    .about-img img {
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 20px;
        border-radius: 8px;
    }

    .about-text {
        margin-right: 0;
    }

    .about-text h2 {
        font-size: 40px;
    }

    .about-text h4 {
        font-size: 24px;
        margin: 10px 0 20px;
    }

    .about-text p {
        font-size: 16px;
        margin-bottom: 1rem;
    }

    #services {
        font-size: 18px;
        margin-bottom: 2rem;
    }

    .sub-title {
        font-size: 40px;
        padding-bottom: 50px;
    }

    .container {
        padding: 50px;
    }

    .services-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
        margin-top: 20px;
    }

    .services-list div {
        padding: 30px;
        font-size: 14px;
    }

    .services-list div i {
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .services-list div h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .services-list div p {
        font-size: 14px;
    }

    .read {
        padding: 10px 24px;
        font-size: 14px;
    }

    .icons {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        grid-gap: 10px;
    }

    .icons i {
        font-size: 100px;
        margin: 5px;
    }

    .main-text {
        padding-top: 60px;
        margin-top: 20px;
    }

    .main-text h2 {
        font-size: 40px;
        line-height: 1.2;
        text-align: center;
    }

    .main-text h2 span {
        font-size: 40px;
    }

    .portfolio-content {
        column-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .row img {
        padding-top: 20px;
    }

    .layer {
        padding: 0 20px;
    }

    .layer h5 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .layer p {
        font-size: 14px;
        line-height: 1.6;
    }

    .layer i {
        font-size: 30px;
        width: 40px;
        height: 40px;
    }

    .contact {
        grid-template-columns: 1fr;
        padding-left: 20px;
        margin-top: 50px;
    }

    .contact h2 {
        font-size: 40px;
        text-align: center;
    }

    .contact h2 span {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .contact-list {
        margin-bottom: 2rem;
    }

    .contact-list li {
        margin-bottom: 5px;
    }

    .contact-list i {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .contact-icons i {
        margin: 15px 10px 10px 0;
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

}



/* Media query for tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        padding: 8px 16px;
        border-radius: 40px;
    }

    .navbar a {
        font-size: 20px;
        margin-left: 20px;
    }

    .home-content h1 {
        font-size: 48px;
    }

    .home-content h3 {
        font-size: 28px;
    }

    .home-content h3:nth-of-type(2) {
        margin-bottom: 20px;
    }

    .home-content h1 {
        font-size: 44px;
    }

    .home-content p {
        font-size: 18px;
    }

    .home-sci a {
        width: 35px;
        height: 35px;
        font-size: 18px;
        margin: 20px 12px 20px 0;
    }

    .btn-box {
        padding: 10px 24px;
        font-size: 14px;
    }

    .sub-title {
        font-size: 50px;
        padding-bottom: 60px;
    }

    .services-list {
        margin-top: 20px;
    }

    .services-list div {
        padding: 30px;
        font-size: 12px;
    }

    .services-list div i {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .services-list div h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .services-list div p {
        font-size: 16px;
    }

    .read {
        padding: 10px 24px;
        font-size: 14px;
    }

    .icons i {
        font-size: 120px;
    }

    .main-text h2 {
        font-size: 50px;
    }

    .portfolio-content {
        column-gap: 60px;
    }

    .layer i {
        font-size: 18px;
        width: 50px;
        height: 50px;
    }

    .contact h2 {
        font-size: 50px;
    }

    .contact h2 span {
        margin-bottom: 400px;
    }

    .contact-list i {
        font-size: 18px;
    }

    .contact-icons i {
        width: 35px;
        height: 35px;
        font-size: 18px;
        margin: 20px 10px 15px 0;
    }
}