html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: #021227; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: #ffee10; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.seapration {
    height: 3px;
    background-color: rgb(100, 98, 98);
    position: relative;
    z-index: 20;
    margin-top: 30px;

}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
    background: #021227;
    /* background: url(./Img/d\ left\ 1.png); */

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar {
    background-color:rgba(101, 98, 98, 0.416);
    display: inline-block;
    padding: 10px 22px 10px 0;
    border-radius: 50px;  
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-content h1 {
    animation: slideRight 1s ease forwards;
}

.home-content h3 {
    animation: slideLeft 2s ease forwards;
}

.navbar a:hover {
    color: #ffee10;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(./Img/Untitled\ Design.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .5s;
}


.home-content h1 {
    font-size: 56px;
    font-weight: 700px;
    margin: -3px 0;
}


.home-content p {
    font-size: 20px;
    text-align: justify;
    padding-right: 10px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffee10;
    border-radius: 50%;
    font-size: 20px;
    color: #666;
    text-decoration: none;
    transition: color 0.5s, box-shadow 0.5s;
    margin: 30px 15px 30px 0;
    animation: slideLeft 1s ease forwards;
}

.home-sci a:hover {

    color: #ffee10;
    background: #333;
    box-shadow: 0 0 15px #ffee10;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #ffee10;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.5s;
    box-shadow: 0 0 5px #ffee10,
        0 0 25px #ffee10
}


.btn-box:hover {
    box-shadow: 0 0 5px #ffee10, 0 0 25px #ffee10, 0 0 50px #ffee10,
        0 0 100px #ffee10, 0 0 200px #ffee10
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    padding-bottom: 20%;
    padding-top: 25%;
  
    max-width: 755px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: #ffee10;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;   
}


.about-text p {
    color: aliceblue;          
    font-size: 20px;           
    line-height: 1.6;          
    margin-bottom: 1.5rem;     
    text-align: justify;       
}

.about-text {
    margin-right: 11px;    
}

#services {
    color: #ffee10;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.container {
    padding: 90px;
}

.sub-title span {
    color: #ffee10;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 26px;
}

.services-list div {
    background-color:transparent;
    padding: 40px;
    font-size: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #eae056d2,1px 1px 40px #012290f7 ;
}



.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div i {
    text-decoration: none;
    color:#000000;
    font-size: 40px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div p {
    text-align: justify;
    line-height: 1.5;
}

.read {
    display: inline-block;
    padding: 12px 28px;
    background: #ffee10;
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.5s;
    box-shadow: 0 0 5px #ffee10,
        0 0 25px #ffee10

}

.read:hover{
    box-shadow: 0 0 5px #ffee10, 0 0 25px #ffee10, 0 0 50px #ffee10,
    0 0 100px #ffee10, 0 0 200px #ffee10
}

.services-list div:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

section{
    display: flex;
    flex-wrap: wrap;
}

.icons {
    max-width: 400px; 
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    justify-content: center; 
    grid-gap: 20px; 
}

.icons i {
    font-size: 150px; 
    margin: 10px;
}

.main-text{
    padding-top: 90px;
    margin-top: 200px;
    
}

.main-text h2 {
    
    font-size: 60px;
    line-height: 1;
    text-align: center;
    
}

.main-text h2 span {
    color: #ffee10;
}

.portfolio-content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px,auto));
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img {
    padding-top: 50px;
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
    flex-direction: column;
    
}

.main-text {
    padding-top: 130px;
    margin-top: 55px;
}

.main-text h2 {
    padding-top: 20px;
    margin-top: 20px;
    font-size: 60px;
    line-height: 1;
    text-align: center;
    justify-content: center;
    /* padding-left: 630px; */
}

.main-text h2 span {
    color: #ffee10;
}   

.portfolio-content {
   
    column-gap: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px,auto));
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#ffee10);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    color: rgb(38, 11, 118);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: #fff;
    font-size: 1rem;
    line-height: 1.8;
    /* text-align: justify; */
    
}

.layer i {
    color: #ffee10;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.contact h2 span {
    color: #ffee10;
    
    margin-bottom: 600px;
  
}

.contact-list {
    margin-bottom: 3rem;
    align-items: center;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {

    margin-bottom: 10px;
    display: block;
    
}

.contact-list i {
    display: inline-block;
    color: #e8e0e0;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
    cursor: pointer;
    
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #ffee10;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffee10;
    border-radius: 50%;
    font-size: 20px;
    color: #ffee10;
    text-decoration: none;
    margin: 25px 10px 20px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--1));
}

.contact-icons i:hover {
    color: #ffee10;
    background: #333;
    box-shadow: 0 0 15px #ffee10;
}




























@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


